@import url("/images/margin.jpg family=margin&display=swap");
body{
  background-image:url("///home/alex/Desktop/week2/images/unit.jpg");
  background-size: cover;
}
h1{
  color:rgb(8, 7, 7);
}
.parent{
  margin-top: 10px;
  margin-bottom: 0;
}