@import url('///home/alex/Desktop/week2/images/unit.jpg');
body{
  background-image: url('///home/alex/Desktop/week2/images/unit.jpg');
  background-size: cover;
  background-color: aqua;
}
h1{
  color: rgb(8, 8, 8);
}
.parent{
  margin-top: 10px;
  margin-bottom: 0;
  height: 670px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: #626f92;
  box-shadow: 1px 0px 2px #ffffff;
}
.left{
  background-image: url('///home/alex/Desktop/week2/images/sunset.jpeg');
  background-size: center;
  height: 670px;
  border-radius: 10px 0 0 10px;
  margin: 0;
  background-size: cover;
}